.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    aspect-ratio: 21 / 9;
}

/*.wrapper:first-child {*/
/*    width: 100%;*/
/*}*/
