html {
  scroll-behavior: smooth;

  .visible-animation {
    opacity: 0;

    &.start {
      animation-name: fadeSlideIn;
      animation-duration: 0.8s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards; /* 애니메이션 종료 후 최종 상태 유지 */
    }

    &.d1 {
      animation-delay: 0s;
    }

    &.d2 {
      animation-delay: 250ms;
    }

    &.d3 {
      animation-delay: 500ms;
    }
  }
}