html {
  scroll-behavior: smooth;

  .visible-animation {
    opacity: 0;

    &.start {
      animation-name: fadeSlideIn;
      animation-duration: 0.8s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards; /* 애니메이션 종료 후 최종 상태 유지 */
    }

    &.d1 {
      animation-delay: 0s;
    }

    &.d2 {
      animation-delay: 250ms;
    }

    &.d3 {
      animation-delay: 500ms;
    }
  }

  .fade-enter {
    opacity: 0;
  }
  /* 요소가 나타나는 동안의 상태 (애니메이션 적용) */
  .fade-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  /* 요소가 사라질 때의 최종 상태 */
  .fade-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .fade-exit-done {
    opacity: 0;
  }

  .bg-ienlab-pink {
    background-color: #FF4081;
  }

  .bg-ienlab-purple {
    background-color: #7C4DFF;
  }

  .bg-ienlab-skyblue {
    background-color: #03A9F4;
  }

  .bg-ienlab-blue {
    background-color: #3f51b5;
  }

  .chip-ienlab-pink {
    background-color: #FF408133;
    color: #FF4081;
  }

  .chip-ienlab-purple {
    background-color: #7C4DFF33;
    color: #7C4DFF;
  }

  .chip-ienlab-skyblue {
    background-color: #03A9F433;
    color: #03A9F4;
  }

  .chip-ienlab-blue {
    background-color: #3f51b533;
    color: #3f51b5;
  }

  .button-ienlab-pink {

  }
}