@import "tailwindcss";
@plugin "./hero.ts";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  transition: background-color 0.3s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* 원하는 만큼 위로 이동 */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-shadow {
  0% {
    transform: translateY(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /* 초기 그림자: 기본 위치, 적당한 크기 */
  }
  50% {
    transform: translateY(-20px); /* 위로 더 많이 이동 */
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3); /* 떠오를 때 그림자: 더 커지고 흐려짐 */
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /* 다시 돌아올 때 그림자: 초기 상태로 */
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0; /* 처음에는 투명하게 */
    transform: translateY(-20px); /* 원래 위치보다 20px 위에 위치 */
  }
  to {
    opacity: 1; /* 최종적으로 불투명하게 */
    transform: translateY(0); /* 원래 위치로 이동 */
  }
}